body{
    background-color: cadetblue;
    
}


#dv{
    border: solid black 5px;
    width: 250px;
    height: 150px;
    background-color: azure;
    position: absolute;
    top: 100px;
    left: 300px;
    text-align: center;
    padding: 50px;
}

#dv2{
    border: solid black 5px;
    width: 250px;
    height: 150px;
    background-color: azure;
    position: absolute;
    top: 100px;
    left: 300px;
    text-align: center;
    padding: 50px;
}



#ps{
    margin-right: 5px;
}